[submodule "material3/material-color-utilities"]
	path = material3/material-color-utilities
	url = https://github.com/material-foundation/material-color-utilities.git
[submodule "third_party/BlackBox"]
	path = third_party/BlackBox
	url = https://github.com/995fuviokd-crypto/BlackBox.git
	branch = compileSdk35
